header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.header-location {
    #locationicon {
      margin-right: 10px;
      font-size: 32px;
    }
    display: flex;
    align-items: center;
    span#deliver {
      color: #a3a3a3;
    }
    p { 
        color:#0a4b65;
        line-height: 23px;
    }
  }

.header-search {
    .search {
      border-radius: 20px;
      width: 400px;
    }
}

.header-country {
  .Select {
    width: 150px;
  }
}

.header-iconbox {
  color:#0a4b65;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  p {
    margin: 8px;
  }
  svg {
    font-size: 25px;
  }
}

